<!DOCTYPE HTML>
<html>
<head>
  <title>Registration Form</title>
  <link rel="stylesheet" href="../static/formstyle.css">
</head>

<body>
  <h1>Registration Page</h1>
  <div class="simple-form">
    <form class="simple-form" action="" method="post" id="registration">
      <input type="text"     name="username" id="button" placeholder="Username"><br></br>
      <input type="email"    name="email"    id="button" placeholder="Email"><br></br>
      <input type="password" name="password" id="button" placeholder="Create Password"><br></br>
      <small> Minimum of 6 characteries</small><br></br>
      <input type="password" name="confirm_password" id="button" placeholder="Confirm Password"><br></br>
      <input type="submit"   value="Register"id="button">
    </form>
  </body>
  </html>
